* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar .normal{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #0ef;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.174);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
}

.sidebar li {
    width: 100%;
}

.sidebar li a{
    color: #000;
    padding: 0.8rem 0;
    width: 100%;
}

.normal .menu-btn {
    display: none;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: rgb(19, 5, 50);
    background-position: center;
    background-size: cover;
    display: inline-flex;
    align-items: center;
    padding: 70px;
}

.introduce-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
}


.introduce-container img {
    max-width: 350px;
    margin-left: 150px;
    border-radius: 100%;
    border: 1px solid cyan;
    box-shadow: 0 0 10px rgb(0, 148, 159),
    0 0 30px rgb(0, 148, 159), 0 0 55px rgb(0, 148, 159),
    0 0 110px rgb(0, 148, 159), 0 0 220px rgb(0, 148, 159);
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 20px;
}

.home-content h3 span {
    color: cyan;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.3s;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 10px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.btn-box:hover {
    margin-left: 10px;
    box-shadow: 0 0 20px cyan;
}

.about-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.about-img img {
    margin: 50px 0 0 150px;
    max-width: 35rem;
    height: auto;
    width: 100%;
    border-radius: 10%;
}

.about-text {
    margin-right: 20px;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #0ef;
}
.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 4rem;
}

.container {
    padding: 5rem 10rem;

}

.services {
    width: 100%;
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    text-align: center;
}

.service {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7, 
                1px 1px 22px #0053b8f7;
}

.services-list div i {
    color: #0ef;
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.read:hover {
    margin-left: 10px;
    box-shadow: 0 0 20px cyan;
}

.services-list div:hover {
    transform: translateY(-2px);
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 60px;
}

.sub-title span {
    color: #0ef;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title {
    padding-left: 9rem;
    letter-spacing: 1px;
    font-size: 1.4rem;
    color: #0ef ;
}

.tl-title-2 {
    letter-spacing: 1px;
    font-size: 1.4rem;
    color: #0ef;
    
}

.job-descript {
    line-height: 1.6rem;
    font-size: 1.1rem;
}

.left-tl-content p{
    padding-left: 9rem;
    line-height: 1.6rem;
    font-size: 1.1rem;
}

.tl-content {
    border-left: 2px solid #03afff ;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2::before {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #005982;
    border-radius: 50%;
    transform: translateX(-55%);
    left: 0;
}

.main-text {
    margin-top: 3rem;
}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.main-text h2 span {
    color: #0ef;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
    margin: 20px;
}

.row {
    margin: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    padding-top: 10px;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
    
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color:#0ef;
}
.contact-icons a {
    color: #0ef;
}
.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input, form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    background: #d0d0d4;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
    border: transparent;
    width: 90%;
}

.contact-form form .send:hover {
    box-shadow: 0 0 20px cyan;
}

.footer {
    background: rgb(9, 79, 109);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.footer p{
    color: #fff;
    margin: 0;
    font-size: 15px;
    padding: 7px;
}

@media only screen and (max-width: 425px) {
    .sidebar {
        width: 100%;
    }
    
}

@media only screen and (max-width: 769px) {
    .hideOnMobile{
        display: none;
    }
    .normal .menu-btn {
        display: block;
    }
    
    .introduce-container, .contact{
        margin-top: 10px;
        flex-direction: column; 
    }
    .contact-icons {
        margin: 0;
        padding: 0;
    }
    .introduce-text {
        width: 100%;
        text-align: center;
    }
    .introduce-text h3, .introduce-text span, .about-text h4 {
        font-size: 1.5rem;
    }
    .introduce-text h1 {
        font-size: 1.7rem;
    }
    .introduce-text p, .about-text p {
        font-size: 1.1rem;
    }
    .container {
        padding: 1rem;
    }
    .tl-title, .left-tl-content p {
        padding: 0;
    }
    .contact-container {
        padding-left: 0.5rem;
        margin-top: 10px;
        display: inline-block;
        flex-direction: column;
    }
    
    .contact-form {
        text-align: center;
    }
}

@media only screen and (max-width: 1025px) {
    
    .introduce-container img {
        display: none;
    }
    .about-img img {
        margin: 0;
        max-width: 15rem;
    }
    .about-section {
        flex-direction: column;
        display: inline-block;
        text-align: center;
        padding: 1rem 2rem;
    }
    .about-text {
        margin: 0;
    }
    .about-text h2, .main-text h2, .contact-text h2{
        font-size: 2.7rem;
        
    }
}